input {
    margin:20px;
    padding: 5px 10px;
    font-size: 18px;
}
.form {
    font-size: 18px;
}

.form button {
    padding: 8px 20px;
    text-transform: uppercase;
    margin: 10px;
    width: 300px;
    background-color: chocolate;
    color: white;
    border-radius: 20px;

}

.form button:hover {
    background-color: red;
    color: white;
}